<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Buffet</title>
<style></style>
<link rel="stylesheet" href="/css/genericElements.css" type="text/css" />
<script></script>
</head>
<body>

	<div>
		<div th:if="${buffet}" th:object="${buffet}">
			<h2>Nome Buffet:</h2>
			<h1 th:text="*{nome}">nome</h1>
			<Strong>Descrizione:</Strong><span th:text="*{descrizione}">descrizione
			</span>

			<div>
				<Strong>Cuoco:</Strong><em
					th:text="*{chef.nome} + ' ' + *{chef.cognome} ">Nome Cuoco </em>
			</div>
		</div>

		<div th:unless="${buffet}">Questo buffet non esiste</div>
	</div>

	<ul>
		<h2> Elenco dei piatti:</h2>
		<div id="tutto">

			<div id="containerDati">
				<li th:each="piatto : ${listaPiattiBuffet}"><a
					href="piatto.html" th:href="@{'/piatto' + '/' + ${piatto.id}}"
					th:text="${piatto.nome}">Nome Piatto</a> 

					<a
					th:href="@{'/deletePiattoDaBuffet' + '/' + ${buffet.id} + '/' + ${piatto.id}}">
						<strong>CANCELLA</strong>
				</a></li>
			</div>
		</div>
	</ul>

<hr>
	<footer>
		<a th:href="@{/home}">Torna alla home</a> o <a
			th:href="@{/admin/home}">Torna alla home ADMIN</a>
	</footer>

</body>
</html>